html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

:root {
    --very-dark-color: #1A120B;
    --dark-color: #262A56;
    --bright-color: #B8621B;
    --light-color: #E5E5CB;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* NAVBAR STYLES */

header {
    background-image: url(./images/nafinia-putra-Kwdp-0pok-I-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 2;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: var(--dark-color);
    opacity: 90%;
    z-index: 3;
}

header h1 {
    font-size: 3em;
    z-index: 4;
    text-align: center;
}

#navbar {
    position: sticky;
    top: 0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    text-transform: uppercase;
    background-color: var(--light-color);
    opacity: 90%;
    font-weight: 600;
    z-index: 10;
}

#navbar span.links {
    align-items: center;
    gap: 1em;
    justify-content: flex-end;
}

#navbar .active {
    border-bottom: 2px solid var(--dark-color);
}

#login {
    cursor: pointer;
}

#cart-info {
    cursor: pointer;
}

/* MAIN ELEMENT STYLES */
main {
    padding-top: 100px;
    color: var(--very-dark-color);
    padding-bottom: 6em;
}

main h2 {
    color: var(--very-dark-color);
}

/* ABOUT PAGE STYLES */
#about {
    padding: 6em 2em;
    font-size: 1.3em;
}

.about-image {
    width: 500px;
}

.about-image.left {
    float: left;
    padding-right: 1em;
    width: 300px;
    padding-bottom: 2em;
}

.about-image.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

/* SHOP PAGE STYLES */
h2 {
    text-transform: uppercase;
    color: var(--dark-color);
}

h3 {
    color: var(--very-dark-color);
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* BUTTON STYLES */
.menu-item button {
    border-radius: 6px;
    padding: 3px 6px;
    cursor: pointer;
    height: 2em;
    margin: 0 6px;
}

.menu-item button.add-to-cart-button {
    border: 2px solid var(--bright-color);
    background-color: var(--bright-color);
    text-transform: uppercase;
    color: var(--light-color);
}

.menu-item .remove-from-cart-button {
    color: var(--very-dark-color);
    font-style: italic;
    cursor: pointer;
    font-size: .8em;
}

/* CONTACT FORM STYLES */

.contact-page {
    align-items: center;
    padding-bottom: 6em;
}

.contact-form {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    gap: 1em;
}

.contact-form label, input, textarea {
    display: flex;
}

.contact-form label, .contact-form input, .contact-form textarea {
    width: 100%;
    font-size: 1em;
}

.contact-form input[type="submit"] {
    max-width: fit-content;
    text-align: center;
    padding: 0.5em 2em;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.contact-form input, .contact-form textarea{
    border: 2px solid var(--dark-color);
    padding: 0.5em 2em 0.5em 0.4em;
    border-radius: 3px;
}

::placeholder {
    font-weight: bold;
    color:#1A120B;
    text-transform: uppercase;
    font-size: 1em;
}


/* FOOTER STYLES */
 footer {
    min-height: 100vh;
    background-color: var(--very-dark-color);
    position: sticky;
    color: var(--light-color);
    align-items: center;
 }
 .footer {
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.sub-nav a, .footer-section h2, .social-icons a {
    color: var(--light-color);
}

.sub-nav a, .bottom-of-footer-text a {
    border-bottom: 2px solid var(--light-color);
    max-width: fit-content;
    color: var(--light-color);
}

.sub-nav a:hover, .bottom-of-footer-text a:hover {
    border-bottom-color: var(--very-dark-color);
}

.sub-nav {
    gap: 1em;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-width: 300px;
    padding: calc(60px + 2em) 2em;
}

.footer-section > h2 {
    border-bottom: 2px dotted var(--light-color);
    font-size: smaller;
    text-transform: uppercase;
    font-style: italic;
    width: 100%;
}

.social-icons {
    gap: 1em;
    font-size: larger;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-of-footer-text {
    position: absolute;
    bottom: 0;
    flex: 1;
    text-align: center;
    padding: 2em 2em 0 2em;
    font-size: 0.7em;
    font-weight: 100;
    font-style: italic;
    line-height: 1.5;
}

/* RESPONSIVE NAVBAR MENU */
input.nav-menu-button-input {
    display: none;
}

.nav-menu-button {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 3em;
    right: 0.5em;
    top: 0;
    display: none;
    z-index: 999;
  }

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham .top {
    stroke-dasharray: 40 121;
  }
  .ham .bottom {
    stroke-dasharray: 40 121;
  }
  .ham.active .top {
    stroke-dashoffset: -68px;
  }
  .ham.active .bottom {
    stroke-dashoffset: -68px;
  }

  @media only screen and (max-width:660px) {
    main {
        padding: 6em 1em;
    }

    .nav-menu-button {
        display: flex;
    }
    
    #navbar {
        position: fixed;
        top: 0;
        width: 100vw;
        opacity: 90%;
        z-index: 5;
    }

    #navbar .links {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        padding: 0;
        overflow: hidden;
        /* transition: width 0.5s; */
      }
      
      nav a {
        margin-bottom: 0.5em;
        color: var(--dark-color);
      }

      .nav-menu-button-input:checked ~ label ~ .nav-menu-background {
        height: calc(100vh - 60px);
        width: 100vw;
        position: fixed;
        top: 60px;
        background: var(--light-color);
        opacity: 90%;
        z-index: 5;
        transition: width 0.5s;
      }

      .nav-menu-button-input:checked + label > .nav-menu-button {
        display: flex;
        position: fixed;
        z-index: 999;
      } 
      
      .color-overlay {
        z-index: 1;
        height: 100vh;
      }
      
      header {
        height: 100vh;
      }

      .nav-menu-button-input:checked ~ label ~ div ~ header ~ #navbar .links {
        width: 100vw;
        height: calc(100vh - 60px);
        top: 60px;
        z-index: 99;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
        padding-top: 3em;
        padding-right: 2em;
        font-size: 1.5em;
      }

      .nav-menu-button-input:checked ~ label ~ div ~ header ~ #navbar {
        overflow: visible;
      }

      /* RESPONSIVE ABOUT PAGE STYLES */
      #about {
      padding: 4em 1em;
      }

      .about-image.left, .about-image.center {
        display: block;
        width: 100%;
        margin: auto;
      }

      #about p {
      text-align: justify;
      line-height: 1.3;
      }
  }